:host {
  font-family: "Open Sans", sans-serif;
}

#container {
  padding: 16px;
}

.title {
  color: green;
}

.row {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  padding: 8px;
}

label,
input {
  display: flex;
  min-width: 10%;
  flex-direction: column;
  padding: 8px;
}

.row div {
  padding: 8px;
}

button {
  padding: 8px;
}
